@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.web-name {
  margin: 0;
  font-size: 60px;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 100;
  align-self: flex-end;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

#logo img {
  width: 100px;
}

.search-container {
  display: flex;
  justify-content: center;
}

input {
  width: 300px;
}

.recipe {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 1px black;
  border-radius: 5px;
}

.food-img {
  width: 50%;
  height: 400px;
  margin: 15px;
}

.detail {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.category {
  margin: 15px;
  padding: 3px;
  width: fit-content;
  border: solid 1px;
  font-size: 15px;
}

.dessert-name {
  font-size: 35px;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 100;
  color: #59c3c3;
  margin: 15px;
  margin-bottom: 0;
}

.rating {
  margin: 15px;
}

.tags-container {
  display: flex;
  flex-direction: row;
}

p {
  margin: 15px;
  font-size: 15px;
}

a img {
  width: 50px;
  margin: 5px;
}

#footer div {
  margin-left: 50px;
  width: fit-content;
}

#social {
  margin: 0 50px 0 50px;
  width: fit-content;
}

#reference a {
  font-size: 0.6rem;
  color: #59c3c3;
  width: fit-content;
}

#no-result {
  text-align: center;
}

@media screen and (max-width: 600px) {
  p {
    display: none;
  }

  .recipe {
    flex-direction: column;
  }

  .food-img,
  .detail {
    width: auto;
  }

  #social {
    display: flex;
    justify-content: center;
  }

  #footer div {
    margin: auto;
    width: fit-content;
  }
}

@media screen and (min-width: 600px) {
  #footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  #reference {
    align-self: center;
  }
}
