
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#reference a {
    display: inline-block;
    color: #59c3c3;
    font-size: 0.6rem;
}

.web-name {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 100;
    font-size: 3.75rem;
    margin: 0;
    align-self: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#logo img {
    width: 100px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 960px;
}

.food-img {
    flex: 1;
    max-width: 50%;
    height: 400px;
    margin: 15px;
    object-fit: cover;
}

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.category {
    font-size: 15px;
    padding: 4px 8px;
    margin: 10px 0 10px 15px;
    border: 1px solid #000;
    display: inline-block;
}

.dessert-name {
    margin: 10px 15px 0;
    font-size: 2rem;
    color: #59c3c3;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 100;
}

.rating {
    margin-left: 15px;
    margin-top: 10px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

p {
    font-size: 15px;
    margin: 15px;
    line-height: 1.5;
}

a img {
    width: 50px;
    margin: 5px;
}

#footer div {
    margin: 0 50px;
    width: max-content;
}

#social {
    margin: 0 50px 10px;
    display: flex;
    gap: 10px;
}

#no-result {
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

@media screen and (max-width: 600px) {
    p {
        display: none;
    }

    .recipe {
        flex-direction: column;
    }

    .food-img, .detail {
        width: 100%;
    }

    #footer div, #social {
        margin: auto;
    }

    #social {
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    #footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }

    #reference {
        align-self: center;
    }
}
